[submodule "Cores/SNESDeltaCore"]
	path = Cores/SNESDeltaCore
	url = git@github.com:rileytestut/SNESDeltaCore.git
[submodule "Cores/GBADeltaCore"]
	path = Cores/GBADeltaCore
	url = git@github.com:rileytestut/GBADeltaCore.git
[submodule "Cores/GBCDeltaCore"]
	path = Cores/GBCDeltaCore
	url = git@github.com:rileytestut/GBCDeltaCore.git
[submodule "Cores/NESDeltaCore"]
	path = Cores/NESDeltaCore
	url = git@github.com:rileytestut/NESDeltaCore.git
[submodule "Cores/MelonDSDeltaCore/melonDS"]
	path = Cores/MelonDSDeltaCore/melonDS
	url = git@github.com:rileytestut/melonDS.git
[submodule "Cores/Mupen64PlusDeltaCore/Mupen64Plus/mupen64plus-core"]
	path = Cores/Mupen64PlusDeltaCore/Mupen64Plus/mupen64plus-core
	url = git@github.com:rileytestutrileytestut/mupen64plus-core.git
[submodule "Cores/Mupen64PlusDeltaCore/Mupen64Plus/GLideN64"]
	path = Cores/Mupen64PlusDeltaCore/Mupen64Plus/GLideN64
	url = git@github.com:rileytestut/GLideN64.git
[submodule "External/Harmony"]
	path = External/Harmony
	url = git@github.com:rileytestut/Harmony.git
[submodule "External/Roxas"]
	path = External/Roxas
	url = git@github.com:rileytestut/Roxas.git
[submodule "Cores/Mupen64PlusDeltaCore/Mupen64Plus/libpng"]
	path = Cores/Mupen64PlusDeltaCore/Mupen64Plus/libpng
	url = git://git.code.sf.net/p/libpng/code
[submodule "Cores/Mupen64PlusDeltaCore/Mupen64Plus/mupen64plus-rsp-hle"]
	path = Cores/Mupen64PlusDeltaCore/Mupen64Plus/mupen64plus-rsp-hle
	url = git@github.com:mupen64plus/mupen64plus-rsp-hle.git
[submodule "Cores/DeSmuMEDeltaCore/desmume"]
	path = Cores/DeSmuMEDeltaCore/desmume
	url = git@github.com:TASVideos/desmume.git
