[submodule "Cores/DeltaCore"]
	path = Cores/DeltaCore
	url = https://github.com/rileytestut/DeltaCore.git
[submodule "Cores/SNESDeltaCore"]
	path = Cores/SNESDeltaCore
	url = https://github.com/rileytestut/SNESDeltaCore.git
[submodule "External/Roxas"]
	path = External/Roxas
	url = https://github.com/rileytestut/Roxas.git
[submodule "Cores/GBADeltaCore"]
	path = Cores/GBADeltaCore
	url = https://github.com/rileytestut/GBADeltaCore.git
[submodule "Cores/GBCDeltaCore"]
	path = Cores/GBCDeltaCore
	url = https://github.com/rileytestut/GBCDeltaCore.git
[submodule "External/Harmony"]
	path = External/Harmony
	url = https://github.com/rileytestut/Harmony.git
[submodule "Cores/NESDeltaCore"]
	path = Cores/NESDeltaCore
	url = https://github.com/rileytestut/NESDeltaCore.git
[submodule "Cores/N64DeltaCore"]
	path = Cores/N64DeltaCore
	url = https://github.com/rileytestut/N64DeltaCore.git
[submodule "Cores/DSDeltaCore"]
	path = Cores/DSDeltaCore
	url = https://github.com/rileytestut/DSDeltaCore.git
[submodule "Cores/MelonDSDeltaCore"]
	path = Cores/MelonDSDeltaCore
	url = https://github.com/rileytestut/MelonDSDeltaCore.git
[submodule "Cores/GPGXDeltaCore"]
	path = Cores/GPGXDeltaCore
	url = https://github.com/rileytestut/GPGXDeltaCore.git
