[submodule "Cores/DeltaCore"]
	path = Cores/DeltaCore
	url = git@github.com:rileytestut/DeltaCore.git
[submodule "Cores/SNESDeltaCore"]
	path = Cores/SNESDeltaCore
	url = git@github.com:rileytestut/SNESDeltaCore.git
[submodule "External/Roxas"]
	path = External/Roxas
	url = git@github.com:rileytestut/Roxas.git
[submodule "Cores/GBADeltaCore"]
	path = Cores/GBADeltaCore
	url = git@github.com:rileytestut/GBADeltaCore.git
[submodule "Cores/GBCDeltaCore"]
	path = Cores/GBCDeltaCore
	url = git@github.com:rileytestut/GBCDeltaCore.git
[submodule "Cores/NESDeltaCore"]
	path = Cores/NESDeltaCore
	url = git@github.com:rileytestut/NESDeltaCore.git
