# Mac OS X
#
*.DS_Store
*/.DS_Store

# Xcode
#

## Build generated
build/
DerivedData/
.build/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xcarchive

## Obj-C/Swift specific
*.hmap
*.ipa

## Backup and temporary files
*.orig
*.rej
*.tmp
*.swp
*.swo
*~

## IDE specific
.vscode/
.idea/

## Package Manager
.swiftpm/

## Project-Specific
Delta.playground
