<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>modern</key>
	<array>
		<dict>
			<key>name</key>
			<string>Delta</string>
			<key>imageName</key>
			<string>AppIcon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Photo Editor</string>
			<key>imageName</key>
			<string>DeltaRed</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GBA4iOS</string>
			<key>imageName</key>
			<string>GBA4iOS</string>
		</dict>
	</array>
	<key>classic</key>
	<array>
		<dict>
			<key>name</key>
			<string>Broken</string>
			<key>imageName</key>
			<string>BrokenIcon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Original</string>
			<key>imageName</key>
			<string>OriginalIcon</string>
		</dict>
	</array>
	<key>patrons</key>
	<array>
		<dict>
			<key>name</key>
			<string>Delta Gold</string>
			<key>imageName</key>
			<string>DeltaGold</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Halogenide</string>
			<key>imageName</key>
			<string>Halogenide</string>
			<key>credit</key>
			<string>Sebastiaan de With (Halide)</string>
			<key>url</key>
			<string>https://halide.cam</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ketchup</string>
			<key>imageName</key>
			<string>KetchupIcon</string>
			<key>credit</key>
			<string>Ben McCarthy</string>
			<key>url</key>
			<string>https://benricemccarthy.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Microchip</string>
			<key>imageName</key>
			<string>MicrochipIcon</string>
			<key>credit</key>
			<string>Sean Fletcher</string>
			<key>url</key>
			<string>https://www.threads.net/@seanfletchr</string>
		</dict>
	</array>
</dict>
</plist>
