<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>symbolName</key>
		<string>star.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>heart.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>heart.slash.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>cross.case.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>shield.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>bandage.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>bolt.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>bolt.heart.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>dollarsign.circle.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>banknote.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>bag.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>archivebox.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>infinity</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>plus.square.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>scope</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>wand.and.rays</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>key.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>flask.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>map.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>flame.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>target</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>tornado</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>figure.run</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>figure.walk.motion</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>airplane.departure</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>location.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>chevron.right.2</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>trophy.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>forward.end.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>lock.open.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>checkmark.seal.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>book.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>medal.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>sparkles</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>timer</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>hourglass</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>play.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>moon.stars.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>person.crop.circle.badge.plus</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>eye.slash.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>brain.head.profile.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>bubbles.and.sparkles.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>theatermasks.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>sun.max.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>car.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>sailboat.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>bicycle</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>cloud.bolt.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>snowflake</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>mountain.2.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>hare.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>tortoise.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>lizard.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>ant.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>leaf.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>tree.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>carrot.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>syringe.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>pill.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>cross.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>eye.circle.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>flag.2.crossed.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>house.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>trash.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>lightbulb.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>balloon.2.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>tshirt.fill</string>
	</dict>
	<dict>
		<key>symbolName</key>
		<string>cube.fill</string>
	</dict>
</array>
</plist>
